
.glossary_lico{
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(149, 224, 231) 0%, rgb(78, 190, 250) 100%) repeat scroll 0% 0%;

}
.glossary_predmet{
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(149, 231, 163) 0%, rgb(78, 250, 135) 100%) repeat scroll 0% 0%;

}

.countword{
  font-size: 25px;
}

.btn_green{
  background-color: #64c25d;
  color: white;
}


.btn_green:hover{
  background-color: #4abf41;
  color: white;
  border: 1px solid #4abf41;
}
.btn_green:focus{
  background-color: #64c25d;
  color: white;
  border: 1px solid #4abf41;
}
.btn_green:active{
  background-color: #2a8922;
  color: white;
  border: 1px solid #4abf41;
}
