.greenNum {
    color: #2a8922;
}
.redNum {
    color: #db3434;
}

.minitable td{
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0.06);;
}


.ant-table-tbody > tr > td > .ant-table-wrapper:only-child .ant-table{
    margin: -16px -16px -16px 0;
}

.tabFix{
    width: 1600px;
}

.contentCollum{
    position: relative;
    background-color: white;
    border-radius: 20px;
    height: calc(100% - 35px);
    display: flex;
    width: calc(100vw - 287px);
    justify-content: center;
    flex-wrap: wrap;
    min-width: 300px;
    flex-direction: column;
}

.table-box{
    width: 100%;
}